body{
    display: flex;
    color: #256993;
    font-family: 'Roboto Mono', monospace;
}
.sidebar {
    background-color: #faf4ec;
    flex: 1 1 auto;
    width: 20%;
    height: 100vh;
}
.menu{
    display:flex;
    justify-content: flex-end;
    gap: 2%;
    margin-right: 1%;
}
h1,h3 {
    text-align: center;
}
button {
    border-radius: 8px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    color:white;
}
.new-note{
    background-color: #375f68;
}
.dark-Theme{
    background-color: #56536a;
}
.save-button{
    background-color: #375f68;
}
.cancel-button{
    background-color: #9b332c;
}
.main-content{
    width:80%;
    flex: 1 1 auto;
    background-color: #f3e9de;
    height: 100vh;

}
textarea{
    border: 3px solid #6495ed;
    background-color: #faf4ed;
}

.footer-img {
    display: flex;        
    justify-content: center;
    gap: 2%;
    padding-bottom: 1%;


}